name: Check commit

on:
  workflow_call:

jobs:
  check_commit:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
    
    - name: Validate Commits
      run: |
        # 행햢혰햧혜햫혩혮햪 햣햣쒬뒘햨혞 햨쮏쩀뒘혰 향햟 햢쮏쮏쨿쮏쮐 햣햡혞햩혪햫쮏 쒫쟴햟향혞
        git fetch origin dev
        if git diff --name-only origin/dev HEAD | grep -E '^(fix|hotfix|bugfix|feat|feature|breaking)((.+))?:.+'; then
          echo "游릭 There are valid commits according to regulation."
          exit 0
        else
          echo "游댮 There is no commits that are valid according to regulation"
          git log -1 --format="%s"
          exit 1
        fi
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    
    # - name: Post comment on Pull Request
    #   if: ${{ always() }}
    #   uses: thollander/actions-comment-pull-request@v2
    #   with:
    #     message: |
    #       ${{ steps.validate.outputs.validation_result }} There are valid commits according to regulation.