name: Check commit

on:
  workflow_call:

jobs:
  validate:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      
    - name: Get base branch SHA
      run: |
        BASE_SHA=$(git rev-parse origin/${{ github.event.pull_request.base.ref }})
        echo "Base branch SHA: $BASE_SHA"
        echo "::set-env name=BASE_SHA::$BASE_SHA"
        
    - name: Get head branch SHA
      run: |
        HEAD_SHA=$(git rev-parse origin/${{ github.event.pull_request.head.ref }})
        echo "Head branch SHA: $HEAD_SHA"
        echo "::set-env name=HEAD_SHA::$HEAD_SHA"
        
    - name: Validate Commits
      run: |
        # 행햢혰햧혜햫혩혮햪 햣햣쒬뒘햨혞 햨쮏쩀뒘혰 향햟 햢쮏쮏쨿쮏쮐 햣햡혞햩혪햫쮏 쒫쟴햟향혞
        if git log --format=%B $BASE_SHA..$HEAD_SHA | grep -E '^(fix|hotfix|bugfix|feat|feature|breaking)((.+))?:.+'; then
          echo "游릭 There are valid commits according to regulation."
          exit 0
        else
          echo "游댮 There is no commits that are valid according to regulation"
          exit 1
        fi
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    
    # - name: Post comment on Pull Request
    #   if: ${{ always() }}
    #   uses: thollander/actions-comment-pull-request@v2
    #   with:
    #     message: |
    #       ${{ steps.validate.outputs.validation_result }} There are valid commits according to regulation.